---
title: Life after work | Digital Product Research
desc: We spoke to 5 people who had recently stopped working and 5 people who work with older people. This was in preparation for a design sprint about living well.
auth:
---

<%= partial('partials/experiment/life-after-work') %>



<section class="what-next">
  <section class="further-reading">
    <h1>Further reading</h1>
    <ul>
      <li><a href="https://www.theatlantic.com/entertainment/archive/2014/03/a-dancer-dies-twice-the-unique-sad-challenge-of-retiring-from-ballet/284187/">‘A Dancer Dies Twice’: The Unique, Sad Challenge of Retiring From Ballet</a></li>
      <li><a href="http://nymag.com/scienceofus/2016/06/never-retire.html">Maybe You Should Just Never Retire</a></li>
      <li><a href="http://www.thinkadvisor.com/2014/06/30/the-secret-sadness-of-retired-men?page_all=1&slreturn=1489418796"> The Secret Sadness of Retired Men </a></li>
      <li><a href="http://www.apa.org/monitor/2014/01/retiring-minds.aspx">Retiring minds want to know</a></li>

    </ul>
  </section>
  <section class="related-project">
    <h1>
      Related experiments
    </h1>
    <h2><%= partial("partials/beliefs/technology_should_work_for_people") %></h2>
    <ul>
      <li>
        <%= link_to 'Financial freedom through early planning', 'financial-freedom' %>
      </li>
      <li>
        <%= link_to 'Everything is connected', 'connected' %>
      </li>
      <li>
        <%= link_to 'Keeping money local', 'locally' %>
      </li>
      <li>
        <%= link_to 'Cheaper, greener energy', 'shared-energy' %>
      </li>
      <li>
        <%= link_to 'Washing as a service', 'washing-service' %>
      </li>
      <li>
        <%= link_to 'Sending safer emails', 'safer-emails' %>
      </li>
    </ul>
  </section>
</section>
