---
title: Financial freedom | Digital product research
desc: Could we help people in their 20s understand compound interest, to help them save for their long term future? We built a prototype savings tool to find out.
auth:
---

<%= partial('partials/experiment/financial-freedom') %>

<section class="methods">
  <div>
    <h1>How we ran this experiment</h1>
    <%= partial('partials/methods/sme-interviews') %>
    <%= partial('partials/methods/gv-sprint') %>
    <%= partial('partials/methods/interviews') %>
  </div>
</section>

<section class="what-next">
  <section class="view-experiment">
    <a class="experiment-link" href="https://coopdigital.github.io/dpr-level-up" target="_blank">Open experiment in a new window</a>
  </section>

  <section class="further-reading">
    <h1>Further reading</h1>
    <ul>
      <li><a href="http://www.mrmoneymustache.com/" target="_blank">Mr. Money Mustache</a></li>
      <li><a href="https://ustwo.com/blog/5-lessons-old-money-banking-can-learn-from-new-tech-start-ups-today" target="_blank">5 Lessons Old Money Banking Can Learn from New Tech Start-Ups Today</a></li>
      <li><a href="http://www.telegraph.co.uk/finance/personalfinance/10075722/Money-habits-are-formed-by-age-seven.html" target="_blank">Money habits are 'formed by age seven'</a></li>
    </ul>
  </section>
  <section class="related-project">
    <h1>
      Related experiments
    </h1>
    <h2><%= partial("partials/beliefs/technology_should_work_for_people") %></h2>
    <ul>
      <li>
        <%= link_to 'Life after work', 'after-work' %>
      </li>
      <li>
        <%= link_to 'Everything is connected', 'connected' %>
      </li>
      <li>
        <%= link_to 'Keeping money local', 'locally' %>
      </li>
      <li>
        <%= link_to 'Cheaper, greener energy', 'shared-energy' %>
      </li>
    </ul>
  </section>
</section>
</section>
