---
title: Protecting your stuff | Digital Product Research
desc: Could we create an insurance model based on trust and where it's OK to claim? We built a prototype group insurance scheme to find out.
auth:
---

<%= partial('partials/experiment/group-trust') %>

<section class="methods">
  <div>
    <h1>How we ran this experiment</h1>
    <%= partial('partials/methods/sme-interviews') %>
    <%= partial('partials/methods/gv-sprint') %>
    <%= partial('partials/methods/interviews') %>
  </div>
</section>

<section class="what-next">
  <section class="further-reading">
    <h1>Further reading</h1>
    <ul>
      <li><a href="https://teambrella.com/" target="_blank">Teambrella</a></li>
      <li><a href="http://www.safeshareinsurance.com/" target="_blank">The insurance solution for the sharing economy</a></li>
      <li><a href="http://monevator.com/when-to-buy-insurance/" target="_blank">When to buy insurance</a></li>
      <li><a href="https://medium.com/@shai_wininger/lemonades-first-quarter-in-market-exposed-1e868e514bfa#.9sh9z97in" target="_blank">Lemonade’s First Quarter In Market— Exposed</a></li>

    </ul>
  </section>
  <section class="related-project">
    <h1>
      Related experiments
    </h1>
    <h2><%= partial("partials/beliefs/work_together") %></h2>
    <ul>
      <li>
        <%= link_to 'Cheaper, greener energy', 'shared-energy' %>
      </li>
      <li>
        <%= link_to 'Keeping money local', 'locally' %>
      </li>
      <li>
        <%= link_to 'Everything is connected', 'connected' %>
      </li>
    </ul>
  </section>
</section>
</section>
