---
title: Digital product research
---

<div id="projects">
  <div class="project" id="project-connected-devices">
    <a href="connected" class="scroll-container" title="Read about our experiment into connected devices">
      <%= partial('partials/experiment/connected-devices') %>
    </a>
  </div>
  <div class="project" id="project-protect-together">
    <a href="group-trust" class="scroll-container" title="Read about our experiment into protecting your stuff as a group">
      <%= partial('partials/experiment/group-trust') %>
    </a>
  </div>
  <div class="project" id="project-financial-freedom">
    <a href="financial-freedom" class="scroll-container" title="Read about our experiment into financial freedom through early planning">
      <%= partial('partials/experiment/financial-freedom') %>
    </a>
  </div>
  <div class="project" id="project-terms-reviewers">
    <a href="terms" class="scroll-container" title="Read about our experiment into the terms and conditions behind connected devices">
      <%= partial('partials/experiment/terms-reviewers') %>
    </a>
  </div>
  <div class="project" id="project-locally">
    <a href="locally" class="scroll-container" title="Read about our experiment into keeping money in the local economy">
      <%= partial('partials/experiment/locally') %>
    </a>
  </div>
  <div class="project" id="life-after-work">
    <a href="after-work" class="scroll-container" title="Read about our experiment into life after work">
      <%= partial('partials/experiment/life-after-work') %>
    </a>
  </div>
</div>
