---
title: Digital product research
---
  <div id="projects">
    <div class="project" id="project-safer-emails">
      <a href="safer-emails" title="Read about our experiment into safely sending documents by email">
        <%= partial('partials/experiment/safer-emails') %>
      </a>
    </div>
    <div class="project" id="project-shared-energy">
      <a href="shared-energy" title="Read about our experiment into a washing subscription service">
        <%= partial('partials/experiment/shared-energy') %>
      </a>
    </div>
    <div class="project" id="project-financial-freedom">
      <a href="financial-freedom" title="Read about our experiment into financial freedom through early planning">
        <%= partial('partials/experiment/financial-freedom') %>
      </a>
    </div>
    <div class="project" id="project-life-after-work">
      <a href="after-work" title="Read about our experiment into life after work">
        <%= partial('partials/experiment/life-after-work') %>
      </a>
    </div>
    <div class="project" id="project-protect-together">
      <a href="group-trust" title="Read about our experiment into protecting your stuff as a group">
        <%= partial('partials/experiment/group-trust') %>
      </a>
    </div>
    <div class="project" id="project-terms-reviewers">
      <a href="terms" title="Read about our experiment into the terms and conditions behind connected devices">
        <%= partial('partials/experiment/terms-reviewers') %>
      </a>
    </div>
    <div class="project" id="project-connected-devices">
      <a href="connected" title="Read about our experiment into connected devices">
        <%= partial('partials/experiment/connected-devices') %>
      </a>
    </div>
    <div class="project" id="project-locally">
      <a href="locally" title="Read about our experiment into keeping money in the local economy">
        <%= partial('partials/experiment/locally') %>
      </a>
    </div>
    <div class="project" id="project-washing-service">
      <a href="washing-service" title="Read about our experiment into a washing subscription service">
        <%= partial('partials/experiment/washing-service') %>
      </a>
    </div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        //cache our items and containers
        var items = $(".project");
        var scrollContainer = $("#projects");


        /**
         * Fetches the next or previous item from items
         *
         * @param conntainer {JQueryElement} scroll-container in which the items can be found
         * @param items {Array} items to be searched through
         * @param isNext {boolean} set to true (default) if you want the next item, to false if you want the previous one
         * @returns {*}
         */
        function fetchItem(container, items, isNext) {
            var i,
                scrollLeft = container.scrollLeft();

            //set isNext default to true if not set
            if (isNext === undefined) {
                isNext = true;
            }

            if (isNext && container[0].scrollWidth - container.scrollLeft() <= container.outerWidth()) {
                //we reached the last one so return the first one for looping:
                return $(items[0]);
            }

            //loop through items
            for (i = 0; i < items.length; i++) {

                if (isNext && $(items[i]).position().left > 0) {
                    //this item is our next item as it's the first one with non-negative "left" position
                    return $(items[i]);
                } else if (!isNext && $(items[i]).position().left >= 0) {
                    //this is our previous item as it's the one with the smallest negative "left" position
                    //if we're at item 0 just return the last item instead for looping
                    return i == 0 ? $(items[items.length - 1]) : $(items[i-1]);
                }
            }

            //nothing found
            return null;
        }

        /**
         * Moves the scrollcontainer to the next/previous item (depending on event.data.direction).
         *
         * @param event
         */
        function moveToItem(event) {
            //fetch the next/previous item:
            var isNext = event.data.direction == "next";
            var item = isNext ? fetchItem(scrollContainer, items, true) : fetchItem(scrollContainer, items, false);

            if (item) {
                //scroll to item
                scrollContainer.animate({"scrollLeft": item.position().left + scrollContainer.scrollLeft()}, 400);
            }
        }

        //bind events
        $(".arrow-left").click({direction: "prev"}, moveToItem);
        $(".arrow-right").click({direction: "next"}, moveToItem);


    });

</script>
