---
title: Digital Product Research
---

<div id="projects">
  <div class="project" id="project-connected-devices">
    <a href="connected" class="scroll-container">
      <%= partial('partials/experiment/connected-devices') %>
    </a>
  </div>
  <div class="project" id="project-protect-together">
    <a href="group-trust" class="scroll-container">
      <%= partial('partials/experiment/group-trust') %>
    </a>
  </div>
  <div class="project" id="project-financial-freedom">
    <a href="financial-freedom" class="scroll-container">
      <%= partial('partials/experiment/financial-freedom') %>
    </a>
  </div>
  <div class="project" id="project-terms-reviewers">
    <a href="terms" class="scroll-container">
      <%= partial('partials/experiment/terms-reviewers') %>
    </a>
  </div>
  <div class="project" id="project-locally">
    <a href="locally" class="scroll-container">
      <%= partial('partials/experiment/locally') %>
    </a>
  </div>
  <div class="project" id="life-after-work">
    <a href="after-work" class="scroll-container">
      <%= partial('partials/experiment/life-after-work') %>
    </a>
  </div>
</div>
