---
title: Letters | Digital Product Research
desc: Could we match people who are in debt with people who have already been through it? We built an experiment to see whether people would write physical letters of support.
auth:
---

<%= partial('partials/experiment/letters') %>

<section class="methods">
  <div>
    <h1>How we ran this experiment</h1>
    <%= partial('partials/methods/concierge') %>
  </div>
</section>

<section class="what-next">
  <section class="view-experiment">
    <a class="experiment-link" href="http://scout-dashboard.digitalproductresearch.org.uk/1.html" target="_blank">Open experiment in a new window</a>
  </section>
  <section class="further-reading">
    <h1>Further reading</h1>
    <ul>
      <li>Run your own letter writing platform - <a href="https://github.com/coopdigital/coop-platform-letters-django" target="_blank">take a look at this project on GitHub</a></li>
      <li><a href="https://www.ted.com/talks/joe_gebbia_how_airbnb_designs_for_trust" target="_blank">Airbnb on how they design for trust</a></li>
      <li><a href="https://www.youtube.com/watch?v=dfk1q7z2FKk">Hacking Shyness</a></li>
      <li><a href="http://paulgraham.com/ds.html" target="_blank">Do things that don’t scale</a></li>
      <li><a href="https://www.amazon.co.uk/Ends-overlook-products-services-shouldnt/dp/9163936445/p/9163936445/ref=sr_1_1" target="_blank">Ends by Joe Macleod</a></li>
      <li><a href="https://onemillionlovelyletters.com/" target="_blank">One million lovely letters</a></li>
      <li><a href="https://www.postcrossing.com/" target="_blank">Postcrossing</a></li>

    </ul>
  </section>
  <section class="related-project">
    <h1>
      Related experiments
    </h1>
    <h2><%= partial("partials/beliefs/technology_should_work_for_people") %></h2>
    <ul>
      <li>
        <%= link_to 'Financial freedom through early planning', 'financial-freedom' %>
      </li>
      <li>
        <%= link_to 'Life after work', 'after-work' %>
      </li>
      <li>
        <%= link_to 'Keeping money local', 'locally' %>
      </li>
      <li>
        <%= link_to 'Cheaper, greener energy', 'shared-energy' %>
      </li>
      <li>
        <%= link_to 'Washing as a service', 'washing-service' %>
      </li>
      <li>
        <%= link_to 'Sending safer emails', 'safer-emails' %>
      </li>
    </ul>
    <h2><%= partial("partials/beliefs/understand_and_control") %></h2>
    <ul>
      <li>
        <%= link_to 'Terms and reviewers', 'terms' %>
      </li>
      <li>
        <%= link_to 'Sending safer emails', 'safer-emails' %>
      </li>
    </ul>
  </section>
  </section>
</section>
