---
title: Subscription to light | Digital Product Research
desc: Could we find help people on low incomes refit their homes with LED lights? We tested a proposition for a subscription service to find out.
auth:
---

<%= partial('partials/experiment/lighthouse') %>

<section class="methods">
  <div>
    <h1>How we ran this experiment</h1>
    <%= partial('partials/methods/door_knocking') %>
  </div>
</section>

<section class="what-next">
  <section class="further-reading">
    <h1>Further reading</h1>
    <ul>
      <li><a href="https://www.rexelfoundation.com/sites/default/files/led_lighting_study_mars2015.pdf" target="_blank">LED lighting: a solution to fight fuel poverty in developed countries?</a> [PDF]</li>
      <li><a href="http://solarplicity.com/social-landlords/" target="_blank">Solaplicity - Social Landlords - Bringing your tenants simply lower energy bills</a></li>
      <li><a href="http://savewithdpl.com/efficient-light-bulbs-donated-to-food-banks/#.WWydP47WylN" target="_blank">160,000 efficient light bulbs donated to local food banks</a></li>
      <li><a href="https://www.carboncommentary.com/blog/2013/12/03/a-modest-proposal-to-give-away-led-lights" target="_blank">A modest proposal to give away LED lights</a></li>
      <li><a href="https://www.gov.uk/government/publications/helping-consumers-with-energy/helping-consumers-with-energy" target="_blank">Department of Energy and Climate Change: Helping consumers with energy</a></li>
      <li><a href="http://www.digital-agenda.co.uk/people/15m-fund-to-fight-poverty-premium/" target="_blank">£15m fund to fight poverty premium</li>

    </ul>
  </section>
  <section class="related-project">
    <h1>
      Related experiments
    </h1>
    <h2><%= partial("partials/beliefs/technology_should_work_for_people") %></h2>
    <ul>
      <li>
        <%= link_to 'Cheaper, greener energy through smart behaviour', 'shared-energy' %>
      </li>
      <li>
        <%= link_to 'Collective switching for good', 'collective-switch' %>
      </li>
    </ul>
  </section>
  </section>
