---
title: Sending safer emails | Digital Product Research
desc: Could we find an easy and secure way for people send personal files by email? We built a prototype browser extension to find out.
auth:
---

<%= partial('partials/experiment/safer-emails') %>

<section class="methods">
  <div>
    <h1>How we ran this experiment</h1>
    <%= partial('partials/methods/forum-research') %>
    <%= partial('partials/methods/interviews') %>
  </div>
</section>

<section class="what-next">
  <section class="further-reading">
    <h1>Further reading</h1>
    <ul>
      <li><a href="https://whispersystems.org/" target="_blank">Open Whisper Systems</a></li>
      <li><a href="https://internetfreedomfestival.org/" target="_blank">Internet Freedom Festival</a></li>
      <li><a href="https://cpj.org/blog/2017/03/uks-proposed-espionage-act-will-treat-journalists-.php" target="_blank">UK’s proposed Espionage Act will treat journalists like spies</a></li>
      <li><a href="http://www.teenvogue.com/story/how-to-keep-messages-secure" target="_blank">What Apps to Use to Keep Your Messages Private</a></li>
      <li><a href="https://blog.cryptpad.fr/2017/02/20/Time-to-Encrypt-the-Cloud/" target="_blank">Time to Encrypt the Cloud</a></li>

    </ul>
  </section>
  <section class="related-project">
    <h1>
      Related experiments
    </h1>
    <h2><%= partial("partials/beliefs/technology_should_work_for_people") %></h2>
    <ul>
      <li>
        <%= link_to 'Everything is connected', 'connected' %>
      </li>
      <li>
        <%= link_to 'Terms and reviewers', 'terms' %>
      </li>
      <li>
        <%= link_to 'Financial freedom through early planning', 'financial-freedom' %>
      </li>
      <li>
        <%= link_to 'Keeping money local', 'locally' %>
      </li>
      <li>
        <%= link_to 'Life after work', 'after-work' %>
      </li>
      <li>
        <%= link_to 'Washing as a service', 'washing-service' %>
      </li>
    </ul>
    <h2><%= partial("partials/beliefs/understand_and_control") %></h2>
    <ul>
      <li>
        <%= link_to 'Terms and reviewers', 'terms' %>
      </li>
      <li>
        <%= link_to 'Everything is connected', 'connected' %>
      </li>
    </ul>
  </section>
  </section>
