---
title: Cheaper, greener energy | Digital Product Research
desc: Do people want to buy renewable energy off their neighbours? We brought together a group of people as a prototype energy trading community to find out.
auth:
---

<%= partial('partials/experiment/shared-energy') %>

<section class="methods">
  <div>
    <h1>How we ran this experiment</h1>
    <%= partial('partials/methods/sme-interviews') %>
    <%= partial('partials/methods/doorstepping') %>
    <%= partial('partials/methods/field-trip') %>
    <%= partial('partials/methods/at-need-interviews') %>
    <%= partial('partials/methods/interviews') %>
  </div>
</section>

<section class="what-next">
  <section class="view-experiment">
    <a class="experiment-link" href="https://www.powerpack.org.uk/" target="_blank">Open experiment in a new window</a>
  </section>

  <section class="resources">
    <h1>Open source resources</h1>
    <p>
      To help us understand community energy in the UK, we created the Endless Energy Almanac -  an open source, collaborative map of active, generating renewable energy co-operatives. You can use this resource for a project of your own.
    </p>
    <ul>
      <li>
        <a href="https://almanac.powerpack.org.uk/" target="_blank">Endless Energy Almanac</a>
      </li>
      <li>
        <a href="https://github.com/coopdigital/endless-energy-almanac-django" target="_blank">view and download the files on GitHub</a> (a shared repository for software)
      </li>
      <li>
        <a href="https://almanac.powerpack.org.uk/apiv1/community-energy-groups/" target="_blank">access the API</a> (application programming interface) - the data feed that shows all the groups on the map
      </li>
    </ul>
  </section>

  <section class="further-reading">
    <h1>Further reading</h1>

    <ul>
      <li><a href="http://www.shefnews.co.uk/2017/03/30/sheffields-povey-farm-to-team-up-with-the-co-op-to-make-renewable-energy-cheaper/" target="_blank">Shef News article about farm trip</a>
      </li>
      <li><a href="https://www.abundanceinvestment.com/" target="_blank">Investing in renewable energy schemes</a>
      </li>
      <li><a href="http://www.ecowatch.com/samso-worlds-first-100-renewable-energy-powered-island-is-a-beacon-for-1881905310.html" target="_blank">First 100% renewable energy powered island</a>
      </li>
      <li><a href="http://www.gocompare.com/gas-and-electricity/collective-energy-switching/" target="_blank">Collective energy switching</a>
      </li>
      <li><a href="https://medium.com/@ConsenSys/blockchain-community-solar-the-value-of-a-renewable-energy-reputation-ca9aed24cf9#.qtrblxt2r" target="_blank">Sharing solar power with your neighbours</a>
      </li>
      <li><a href="https://powerinthecommunity.wordpress.com/" target="_blank">Profits from renewables supporting communities</a>
      </li>
    </ul>
  </section>
  <section class="related-project">
    <h1>
      Related experiments
    </h1>
    <h2><%= partial("partials/beliefs/technology_should_work_for_people") %></h2>
    <ul>
      <li>
        <%= link_to 'Financial freedom through early planning', 'financial-freedom' %>
      </li>
      <li>
        <%= link_to 'Everything is connected', 'connected' %>
      </li>
      <li>
        <%= link_to 'Keeping money local', 'locally' %>
      </li>
      <li>
        <%= link_to 'Life after work', 'after-work' %>
      </li>
      <li>
        <%= link_to 'Washing as a service', 'washing-service' %>
      </li>
      <li>
        <%= link_to 'Sending safer emails', 'safer-emails' %>
      </li>
    </ul>
    <h2><%= partial("partials/beliefs/work_together") %></h2>
    <ul>
      <li>
        <%= link_to 'Protecting your stuff', 'group-trust' %>
      </li>
      <li>
        <%= link_to 'Keeping money local', 'locally' %>
      </li>
      <li>
        <%= link_to 'Everything is connected', 'connected' %>
      </li>
    </ul>
  </section>
</section>
