---
title: Cheaper, greener energy | Digital product research
---

<%= partial('partials/experiment/shared-energy') %>

<section class="methods">
  <div>
    <h1>How we ran this experiment</h1>
    <%= partial('partials/methods/sme-interviews') %>
    <%= partial('partials/methods/doorstepping') %>
    <%= partial('partials/methods/field-trip') %>
    <%= partial('partials/methods/at-need-interviews') %>
    <%= partial('partials/methods/interviews') %>
  </div>
</section>

<section class="what-next">
  <section class="view-experiment">
    <a class="experiment-link" href="http://www.powerpack.org.uk/" target="_blank">Open experiment in a new window</a>
  </section>

  <section class="further-reading">
    <h1>Further reading</h1>

    <ul>
      <li><a href="http://www.shefnews.co.uk/2017/03/30/sheffields-povey-farm-to-team-up-with-the-co-op-to-make-renewable-energy-cheaper/" target="_blank">Shef News article about farm trip</a>
      </li>
      <li><a href="https://www.abundanceinvestment.com/" target="_blank">Investing in renewable energy schemes</a>
      </li>
      <li><a href="http://www.ecowatch.com/samso-worlds-first-100-renewable-energy-powered-island-is-a-beacon-for-1881905310.html" target="_blank">First 100% renewable energy powered island</a>
      </li>
      <li><a href="http://www.gocompare.com/gas-and-electricity/collective-energy-switching/" target="_blank">Collective energy switching</a>
      </li>
      <li><a href="https://medium.com/@ConsenSys/blockchain-community-solar-the-value-of-a-renewable-energy-reputation-ca9aed24cf9#.qtrblxt2r" target="_blank">Sharing solar power with your neighbours</a>
      </li>
      <li><a href="https://powerinthecommunity.wordpress.com/" target="_blank">Profits from renewables supporting communities</a>
      </li>
    </ul>
  </section>
  <section class="related-project">
    <h1><%= partial("partials/beliefs/technology_should_work_for_people") %></h1>
    <h1><%= partial("partials/beliefs/work_together") %></h1>
    <h2>
      Keep reading
    </h2>
  </section>
</section>
