---
title: Washing as a service | Digital Product Research
desc: Could we provide an alternative to expensive high street rent-to-buy shops? We built a prototype washing subscription service to find out.
auth:
---

<%= partial('partials/experiment/washing-service') %>

<section class="methods">
  <div>
    <h1>How we ran this experiment</h1>
    <%= partial('partials/methods/at-need-interviews') %>
    <%= partial('partials/methods/interviews') %>
  </div>
</section>

<section class="what-next">
  <section class="view-experiment">
    <a class="experiment-link" href="https://www.washify.co.uk/how-it-works.html" target="_blank">Open experiment in a new window</a>
  </section>

  <section class="further-reading">
    <h1>Further reading</h1>

    <ul>
      <li><a href="https://www.theguardian.com/society/2013/oct/04/brighthouse-consumer-poverty-high-street" target="_blank">Rent-to-buy is an expensive option in the long term</a>
      </li>
      <li><a href="https://www.splosh.com/" target="_blank">Household cleaning products through the post</a>
      </li>
      <li><a href="https://ktar.com/story/469051/renting-not-owning-a-growing-trend-among-millennials/" target="_blank">Attitudes to ownership are changing</a>
      </li>
      <li><a href="https://www.theguardian.com/technology/2016/oct/17/sharing-economy-capitalism-uber-airbnb-ownership" target="_blank">The future of ownership</a>
      </li>
    </ul>
  </section>
  <section class="related-project">
    <h1>
      Related experiments
    </h1>
    <h2><%= partial("partials/beliefs/technology_should_work_for_people") %></h2>
    <ul>
      <li>
        <%= link_to 'Financial freedom through early planning', 'financial-freedom' %>
      </li>
      <li>
        <%= link_to 'Everything is connected', 'connected' %>
      </li>
      <li>
        <%= link_to 'Keeping money local', 'locally' %>
      </li>
      <li>
        <%= link_to 'Life after work', 'after-work' %>
      </li>
      <li>
        <%= link_to 'Cheaper, greener energy', 'shared-energy' %>
      </li>
      <li>
        <%= link_to 'Sending safer emails', 'safer-emails' %>
      </li>
    </ul>
  </section>
</section>
